[submodule ".registry"]
	path = .registry
	url = https://github.com/mhahsler/mhahsler.r-universe.dev
	branch = HEAD
[submodule "arulesSequences"]
	path = arulesSequences
	url = https://github.com/cran/arulesSequences
[submodule "cba"]
	path = cba
	url = https://github.com/cran/cba
[submodule "markovDP"]
	path = markovDP
	url = https://github.com/mhahsler/markovDP
[submodule "rBLAST"]
	path = rBLAST
	url = https://github.com/mhahsler/rBLAST
[submodule "rMSA"]
	path = rMSA
	url = https://github.com/mhahsler/rMSA
[submodule "rRDP"]
	path = rRDP
	url = https://github.com/mhahsler/rRDP
